/* Agrega tus estilos CSS aquí */

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url(fondo-celeste.jpg);
    background-position: center;
}

h1 {
    color: #1b50e1;
    font-family: 'Rubik Wet Paint', cursive;
}

p {
    font-size: 20px;
    font-weight: 700;
    color: #06ac06;
    font-family: 'Rubik Wet Paint', cursive;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: 80px;
    height: 80px;
    background-color: #6eccdc5c;
    border: 2px solid #078781;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
}

.card.flipped {
    transform: rotateY(360deg);
}

.card.matched {
    background-color: #06f4069e;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #43cfeb;
    color: white;
    border: 2px solid #1790a8;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #32f0f0e8;
}

#reset-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#result-message {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Rubik Wet Paint', cursive;
}